h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 100px;
  margin: 20px;
  text-align: center;
  color:rgb(207, 57, 57);
}

h2 {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  color: black;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin: 20px;
}

ul {
  font-family: "Open Sans", sans-serif;
  margin: 30px;
}

.randomFood {
  font-family: "Open Sans", sans-serif;
  color: white;
}

div {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  text-align: center;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  text-align: center;
  font-size: 20px;
  background-color:white;
  color: black;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 600px) {
  body {
    width: auto;
    margin: 0 auto;
  }
  #foodStyle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
#randomFood {
  color: white;
  background-color: rgb(207, 57, 57);
}
#photoSize {
  width: 600px;
  height: 400px;
  padding: 0%;
}

#emailCard {
  color: white;
}
.whiteText {
  color: white;
}
footer {
  color: white;
  background-color: rgb(207, 57, 57);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer {
  background-color: rgb(207, 57, 57);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 15px;
}

#emailCard {
  font-family: "Open Sans", sans-serif;
  background-color: darkred;
}

#emailRestaurants {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    background-color: goldenrod;
    color: white
}

#restaurantName1 {
  color: rgb(207, 57, 57);
  font-family: "Open Sans", sans-serif; 
  font-weight: bolder;
}

#restaurantName2 {
  color: rgb(207, 57, 57);
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

#restaurantName3 {
  color: rgb(207, 57, 57);
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

#emailSubmit {
  font-size: 15px;
  color: white
}

#emailSubmit:active {
  background-color:rgb(207, 57, 57)
}
